<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" staticCompressionDisableCpuUsage="95" staticCompressionEnableCpuUsage="60" dynamicCompressionDisableCpuUsage="95" dynamicCompressionEnableCpuUsage="50">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <staticTypes>
                <clear />
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".js" />
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <clientCache setEtag="true" cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="5.00:00:00"/>
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Pragma" value="no-cache"/>
                <add name="Cache-Control" value="max-age=432000, no-cache, must-revalidate, post-check=0, pre-check=0" />
                <add name="Strict-Transport-Security" value="max-age=15552001; includeSubDomains; preload" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Content-Security-Policy" value="frame-ancestors 'self'; default-src 'self';script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: 'self'; font-src 'self'; connect-src 'self';frame-src 'self';" />
                <remove name="X-Powered-By" />
                <remove name="Server" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <!-- Resuelve las referencias de rutas a la raiz donde el router las completa -->
                <rule name="Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./" />
                </rule>
            </rules>
        </rewrite>
		<caching>
            <profiles>
                <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
